.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.modal-body {
    position: relative;
    padding: 2rem;
    width: 500px;
    border-radius: 5px;
    background: whitesmoke;
    height: 200px;
}

.modal-body h1{
    color: orange;
}

.modal-body p{
    font-size: 19px;
}

.openBtnModel {
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.closeBtn {
    color: orange;
    border: none;
    background: transparent;
    font-size: 30px;
    font-weight: 500;
    position: absolute;
    right: 5%;
    top: 12%;
}